
body {
    background:rgb(201, 183, 179);
    margin-left: 20px;
    margin-right: 20px;
}

header {
    margin-top: 70px;
}

h1 {
    color: red;
    font-family: serif;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

footer {
    margin-bottom: 30px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.logo {
    width: 30px;
}



